
/* Estrutura
-------------------------------------------------------------*/
body {
margin:0;
padding:0;
line-height: 1.4em;
}

.break { 
	page-break-before: always; 
	margin-top: 2cm;
}

.cabecalho{
	margin-top: 2cm;
}

.imprimir{
	display: none
}

/* Tipografia
-------------------------------------------------------------*/
span {
	font-weight: normal;
}

@page {
margin-bottom: 0cm;
margin-top: 0cm;
margin-left: 0cm;
margin-right: 0cm;
}