/*
* 
* @author Thomaz Cristian
*/

/* provisório
---------------------------------------------*/
span{
	font-weight: bold;
}

/* Estrutura conteúdos 
---------------------------------------------*/

#do_foro, #dos_servico, #contratado, #do_honorario{
	display: none;
}

button.btn{
	margin: 4px;
}

/* Tipografia
---------------------------------------------*/
input {
	margin: 4px;
}